In [9]:
import pandas as pd

from track_o_nauts import TrackONautsStats


example_dataframe1 = pd.DataFrame([[-1,0,1,0,0],[1,0,-1,0,1],[0.5,0.5,0.5,0,7],
                                    [1,1,1,-1,1],[-1,3,4,0,4],[0.33,8,4,3,-1]],
                                    columns=["alpha","D_fit","asymmetry1","Deff1","AR"])
example_dataframe2 = pd.DataFrame([[-1,0,1,0,2],[1,0,-1,1,6],[0.3,0.5,0.5,0,7],
                                    [1,1,1,-1,1],[-1,3,5,2,4],[0.33,8,4,3,-2]],
                                    columns=["alpha","D_fit","asymmetry1","Deff1","AR"])
dataframe_dict = {"example1" : example_dataframe1, "example2" : example_dataframe2}

In [2]:
example_dataframe1.head(6)

   alpha  D_fit  asymmetry1  Deff1  AR
0  -1.00    0.0         1.0      0   0
1   1.00    0.0        -1.0      0   1
2   0.50    0.5         0.5      0   7
3   1.00    1.0         1.0     -1   1
4  -1.00    3.0         4.0      0   4
5   0.33    8.0         4.0      3  -1

In [3]:
example_dataframe2.head(6)

   alpha  D_fit  asymmetry1  Deff1  AR
0  -1.00    0.0         1.0      0   2
1   1.00    0.0        -1.0      1   6
2   0.30    0.5         0.5      0   7
3   1.00    1.0         1.0     -1   1
4  -1.00    3.0         5.0      2   4
5   0.33    8.0         4.0      3  -2

In [1]:
corr_example = TrackONautsStats.pairwise_correlation(example_dataframe1)
corr_example.head(6)

NameError: name 'TrackONautsStats' is not defined

In [ ]:
d_stats_example1 = TrackONautsStats.feature_descriptive_stats(example_dataframe1, ["alpha","D_fit"])
d_stats_example1.head(6)

In [ ]:
d_stats_example1 = TrackONautsStats.feature_descriptive_stats(example_dataframe1, "all_features")
d_stats_example1.head(6)

In [ ]:
multi_d_stats_example1 = TrackONautsStats.multi_df_feat_descriptive_statistics(dataframe_dict, ["alpha","D_fit"])

In [ ]:
multi_d_stats_example2 = TrackONautsStats.multi_df_feat_descriptive_statistics(dataframe_dict, "all_features")

In [ ]:
outliers_example1 = TrackONautsStats.feature_outliers(example_dataframe1, "all_features", "IQR")

In [ ]:
outliers_example2 = TrackONautsStats.feature_outliers(example_dataframe1, "all_features", "STD multiplier")

In [ ]:
outliers_example3 = TrackONautsStats.feature_outliers(example_dataframe2, ["alpha","D_fit","AR"], "STD multiplier")

In [ ]:
outliers_example3 = TrackONautsStats.feature_outliers(example_dataframe2, ["alpha","D_fit","AR"], "IQR")