In [1]:
import pandas as pd

from track_o_nauts import TrackONautsStats


example_dataframe1 = pd.DataFrame([[-1,0,1,0,0],[1,0,-1,0,1],[0.5,0.5,0.5,0,7],
                                    [1,1,1,-1,1],[-1,3,4,0,4],[0.33,8,4,3,-1]],
                                    columns=["alpha","D_fit","asymmetry1","Deff1","AR"])
example_dataframe2 = pd.DataFrame([[-1,0,1,0,2],[1,0,-1,1,6],[0.3,0.5,0.5,0,7],
                                    [1,1,1,-1,1],[-1,3,5,2,4],[0.33,8,4,3,-2]],
                                    columns=["alpha","D_fit","asymmetry1","Deff1","AR"])
dataframe_dict = {"example1" : example_dataframe1, "example2" : example_dataframe2}

In [ ]:
isinstance(

In [2]:
example_dataframe1.head(6)

   alpha  D_fit  asymmetry1  Deff1  AR
0  -1.00    0.0         1.0      0   0
1   1.00    0.0        -1.0      0   1
2   0.50    0.5         0.5      0   7
3   1.00    1.0         1.0     -1   1
4  -1.00    3.0         4.0      0   4
5   0.33    8.0         4.0      3  -1

In [3]:
example_dataframe2.head(6)

   alpha  D_fit  asymmetry1  Deff1  AR
0  -1.00    0.0         1.0      0   2
1   1.00    0.0        -1.0      1   6
2   0.30    0.5         0.5      0   7
3   1.00    1.0         1.0     -1   1
4  -1.00    3.0         5.0      2   4
5   0.33    8.0         4.0      3  -2

In [4]:
corr_example = TrackONautsStats.pairwise_correlation(example_dataframe1)
corr_example.head(6)

          0         1         2         3         4         5
0  1.000000 -0.845154  0.000000  0.000000  0.753778  0.370578
1 -0.845154  1.000000  0.533101  0.133631 -0.382235 -0.643118
2  0.000000  0.533101  1.000000  0.319902  0.502377 -0.605582
3  0.000000  0.133631  0.319902  1.000000  0.476731 -0.021394
4  0.753778 -0.382235  0.502377  0.476731  1.000000  0.213420
5  0.370578 -0.643118 -0.605582 -0.021394  0.213420  1.000000

In [5]:
d_stats_example1 = TrackONautsStats.feature_descriptive_statistics(example_dataframe1, ["alpha"])
d_stats_example1.head(6)

           mean  median  maximum  minimum  variance  standard deviation
alpha  0.138333   0.415      1.0     -1.0  0.848817            0.921312

In [14]:
d_stats_example1.iloc[0].dtype

dtype('float64')

In [6]:
d_stats_example1 = TrackONautsStats.feature_descriptive_statistics(example_dataframe1, "all_features")
d_stats_example1.head(6)

                mean  median  maximum  minimum  variance  standard deviation
alpha       0.138333   0.415      1.0     -1.0  0.848817            0.921312
D_fit       2.083333   0.750      8.0      0.0  9.641667            3.105103
asymmetry1  1.583333   1.000      4.0     -1.0  4.041667            2.010390
Deff1       0.333333   0.000      3.0     -1.0  1.866667            1.366260
AR          2.000000   1.000      7.0     -1.0  8.800000            2.966479

In [7]:
multi_d_stats_example1 = TrackONautsStats.multi_df_feat_descriptive_statistics(dataframe_dict, ["alpha","D_fit"])
print(multi_d_stats_example1)

{'example1':            mean  median  maximum  minimum  variance  standard deviation
alpha  0.138333   0.415      1.0     -1.0  0.848817            0.921312
D_fit  2.083333   0.750      8.0      0.0  9.641667            3.105103, 'example2':            mean  median  maximum  minimum  variance  standard deviation
alpha  0.105000   0.315      1.0     -1.0  0.826550            0.909148
D_fit  2.083333   0.750      8.0      0.0  9.641667            3.105103}

In [8]:
multi_d_stats_example2 = TrackONautsStats.multi_df_feat_descriptive_statistics(dataframe_dict, "all_features")
print(multi_d_stats_example2)

{'example1':                 mean  median  maximum  minimum  variance  standard deviation
alpha       0.138333   0.415      1.0     -1.0  0.848817            0.921312
D_fit       2.083333   0.750      8.0      0.0  9.641667            3.105103
asymmetry1  1.583333   1.000      4.0     -1.0  4.041667            2.010390
Deff1       0.333333   0.000      3.0     -1.0  1.866667            1.366260
AR          2.000000   1.000      7.0     -1.0  8.800000            2.966479, 'example2':                 mean  median  maximum  minimum   variance  standard deviation
alpha       0.105000   0.315      1.0     -1.0   0.826550            0.909148
D_fit       2.083333   0.750      8.0      0.0   9.641667            3.105103
asymmetry1  1.750000   1.000      5.0     -1.0   5.175000            2.274863
Deff1       0.833333   0.500      3.0     -1.0   2.166667            1.471960
AR          3.000000   3.000      7.0     -2.0  11.200000            3.346640}

In [9]:
outliers_example1 = TrackONautsStats.feature_outliers(example_dataframe1, "all_features", "IQR")
print(outliers_example1)

{'alpha outliers above': [], 'alpha outliers below': [], 'D_fit outliers above': [8.0], 'D_fit outliers below': [], 'asymmetry1 outliers above': [], 'asymmetry1 outliers below': [], 'Deff1 outliers above': [0.0, 0.0, 0.0, 0.0, 3.0], 'Deff1 outliers below': [0.0, 0.0, 0.0, -1.0, 0.0], 'AR outliers above': [7.0], 'AR outliers below': []}

In [10]:
outliers_example2 = TrackONautsStats.feature_outliers(example_dataframe1, "all_features", "STD multiplier")
print(outliers_example2)

Enter desired multiplier: 3

{'alpha outliers above': [], 'alpha outliers below': [], 'D_fit outliers above': [], 'D_fit outliers below': [], 'asymmetry1 outliers above': [], 'asymmetry1 outliers below': [], 'Deff1 outliers above': [], 'Deff1 outliers below': [], 'AR outliers above': [], 'AR outliers below': []}

In [11]:
outliers_example3 = TrackONautsStats.feature_outliers(example_dataframe2, ["alpha","D_fit","AR"], "STD multiplier")
print(outliers_example3)

Enter the multiplier you want to use: 3

{'alpha outliers above': [], 'alpha outliers below': [], 'D_fit outliers above': [], 'D_fit outliers below': [], 'AR outliers above': [], 'AR outliers below': []}

In [12]:
outliers_example4 = TrackONautsStats.feature_outliers(example_dataframe2, ["alpha","D_fit","AR"], "IQR")
print(outliers_example4)

{'alpha outliers above': [], 'alpha outliers below': [], 'D_fit outliers above': [8.0], 'D_fit outliers below': [], 'AR outliers above': [], 'AR outliers below': []}